@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root {
    --dark-gray: #16171b;
    --purple: #6246ea;
    --light-purple: #d1d1e9;
}

a{
    text-decoration: none;
}

body {
    background-color: var(--dark-gray);
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    height: 100vh;
    align-items: center;
}

.navbar {
    top: 0;
    position: absolute;
    width: 100%;
    padding: 10px 300px;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--purple);
    font-size: 20px;
    font-weight: 600;
}

.nav-title span {
    transition: 0.2s;
}

.nav-title-span {
    color: var(--light-purple);
}

.nav-title-span:hover {
    color: var(--light-purple)!important;
    text-shadow: 0px 0px 10px #fff!important;
}


.nav-title span:hover {
    text-shadow: 0px 0px 10px var(--purple);
    color: #8069f2;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.nav-list-item a{
    color: var(--light-purple);
    font-size: 18px;
}

.nav-list-item a i {
    font-size: 25px;
}

.nav-list-item a:hover{
    color: var(--purple);
}

.header-text-content {
    padding: 0px 300px;
}

.header-text-content h1{
    font-size: 70px;
    color: var(--light-purple);
}

.header-text-content h1 span {
    color: var(--purple);
}

.header-text-animation{
    background-color: var(--dark-gray);
    height: 90px;
    width: 400px;
    margin-left: 425px;
    border-left: 2px solid var(--light-purple);
    z-index: 1;
    position: absolute;
    animation: text-animation 2s infinite,
    font-animation 4s steps(1) ;
}

@keyframes font-animation {
    0%{
        margin-left: 86px;
    }
    12.5%{
        margin-left: 125px;
    }
    25%{
        margin-left: 170px;
    }
    37.5%{
        margin-left: 215px;
    }
    50%{
        margin-left: 255px;
    }
    62.5%{
        margin-left: 300px;
    }
    75%{
        margin-left: 340px;
    }
    87.5%{
        margin-left: 380px;
    }

    100%{
        margin-left: 425px;
    }
}

@keyframes text-animation {
    0%{
        border:none;
    }

    25%{
        border-left: 2px solid var(--light-purple);
    }

    50%{
        border:none;
    }

    75%{
        border-left: 2px solid var(--light-purple);
    }

    100%{
        border:none;
    }

}

.header-text-content h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--purple);
    margin-left: 84px;
}

.header-subtitle {
    background-color: var(--purple);
    color: #fff;
    width: fit-content;
    padding: 3px 10px;
    margin-top: 10px;
    margin-left: 84px;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: var(--light-purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-down i {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--purple);
}

